# Java / Maven
target/
*.class
*.log

# Eclipse/STS
.metadata/
*.classpath
*.project
.settings/
Servers/

# Node / React
node_modules/
build/
.env
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# Editor config
.idea/
.vscode/
